@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
    background-image: url(wood.jpg);
    background-size: cover;
    display: grid;
    height: 50em;

    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 0.5fr auto;

    grid-template-areas: 
        "nav nav nav"
        ". . ."
        ". main ."
        ". . .";

    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
    font-size: 1em;

    grid-gap: 1em;
}

nav {
    background: #6e2e12;
    width: 100%;
    grid-area: nav;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    float: left;
    padding: 20px;
    color: white;
    width: 10%;
    text-align: center;
    font-size: 1.2em;
}

nav a:hover {
    color: orange;
    background-color: #421c0b;
}

.active {
    color: orange;
    background-color: #421c0b;
}

main {
    grid-area: main;
    height: 40em;
    background-color: white;
    text-align: center;
}

.photo {
    height: 30em;
    width: auto;
    float: right;
    padding: 0.5em;
}  

@media only screen and (max-width:720px) {

    .container {
        height: 80em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr;

        grid-template-areas: 
            "nav"
            "main";
    }

    main {
        height: 70em;
    }
}

@media only screen and (max-width:1100px) {

    .container {
        height: 55em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr;

        grid-template-areas: 
            "nav"
            "main";
    }

    main {
        height: 45em;
    }
}